# Limpeza e Tratamento

In [97]:
import pandas as pd
from pathlib import Path
import seaborn as sns
import matplotlib.pyplot as plt 
import numpy as np

In [98]:
Dados_obesidade_limpo = pd.read_csv(r'Dados_Obesidade/obesity-cleaned.csv')
dados_obesidade_sujo = pd.read_csv(r'Dados_Obesidade/data.csv')

In [99]:
dados_obesidade_sujo

,Unnamed: 0,2016,2016.1,2016.2,2015,2015.1,2015.2,2014,2014.1,2014.2,...,1978.2,1977,1977.1,1977.2,1976,1976.1,1976.2,1975,1975.1,1975.2
0,NaN,"Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...",...,"Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great..."
1,NaN,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,...,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years
2,Country,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female,...,Female,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female
3,Afghanistan,5.5 [3.4-8.1],3.2 [1.3-6.4],7.6 [4.3-12.4],5.2 [3.3-7.7],3.0 [1.3-6.0],7.3 [4.1-11.8],4.9 [3.1-7.3],2.8 [1.2-5.6],7.0 [4.0-11.3],...,0.9 [0.3-2.2],0.6 [0.2-1.2],0.2 [0.0-0.7],0.9 [0.3-2.1],0.5 [0.2-1.1],0.2 [0.0-0.7],0.8 [0.2-2.0],0.5 [0.2-1.1],0.2 [0.0-0.6],0.8 [0.2-2.0]
4,Albania,21.7 [17.0-26.7],21.6 [14.8-29.0],21.8 [15.3-28.9],21.1 [16.6-26.0],20.9 [14.4-28.1],21.3 [15.1-28.1],20.5 [16.2-25.1],20.2 [13.9-27.3],20.8 [14.9-27.4],...,9.1 [4.6-15.5],6.8 [4.0-10.7],4.8 [2.0-9.3],8.9 [4.3-15.4],6.7 [3.8-10.6],4.6 [1.8-9.2],8.8 [4.1-15.4],6.5 [3.6-10.5],4.4 [1.7-9.2],8.6 [3.9-15.4]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,Venezuela (Bolivarian Republic of),25.6 [21.3-30.2],22.4 [16.4-28.9],28.6 [22.5-35.2],25.2 [21.0-29.5],22.0 [16.2-28.2],28.3 [22.4-34.6],24.8 [20.8-29.0],21.5 [16.0-27.4],27.9 [22.2-34.1],...,14.4 [8.4-21.4],10.3 [6.7-14.6],6.6 [3.2-11.7],14.0 [8.0-21.3],9.9 [6.3-14.3],6.3 [2.9-11.5],13.6 [7.5-21.0],9.6 [5.9-14.1],5.9 [2.7-11.2],13.2 [7.1-20.7]
194,Viet Nam,2.1 [1.4-3.1],1.6 [0.8-2.8],2.6 [1.5-4.2],2.0 [1.3-2.9],1.5 [0.8-2.5],2.4 [1.4-3.9],1.8 [1.2-2.6],1.3 [0.7-2.3],2.3 [1.3-3.6],...,0.2 [0.1-0.6],0.2 [0.1-0.3],0.1 [0.0-0.2],0.2 [0.1-0.5],0.1 [0.1-0.3],0.1 [0.0-0.2],0.2 [0.1-0.5],0.1 [0.0-0.3],0.1 [0.0-0.2],0.2 [0.1-0.5]
195,Yemen,17.1 [13.3-21.3],12.0 [7.3-17.6],22.0 [16.0-28.4],16.5 [12.9-20.5],11.4 [7.0-16.7],21.3 [15.6-27.4],15.9 [12.4-19.6],10.8 [6.7-15.7],20.6 [15.2-26.4],...,4.8 [2.0-9.3],3.1 [1.5-5.7],1.3 [0.4-3.3],4.5 [1.9-9.2],2.9 [1.4-5.6],1.3 [0.3-3.2],4.3 [1.7-9.0],2.8 [1.3-5.4],1.2 [0.3-3.1],4.2 [1.5-8.9]
196,Zambia,8.1 [5.8-10.7],3.6 [1.7-6.5],12.4 [8.5-17.1],7.7 [5.6-10.2],3.4 [1.6-6.1],12.0 [8.2-16.4],7.4 [5.4-9.8],3.2 [1.5-5.7],11.5 [7.9-15.7],...,3.0 [1.3-5.6],1.7 [0.8-3.2],0.5 [0.1-1.5],2.9 [1.2-5.4],1.6 [0.7-3.1],0.5 [0.1-1.4],2.7 [1.1-5.3],1.5 [0.7-3.0],0.5 [0.1-1.4],2.5 [1.0-5.1]
197,Zimbabwe,15.5 [12.0-19.2],4.7 [2.5-8.0],25.3 [19.1-32.0],15.2 [11.9-18.8],4.5 [2.4-7.6],24.8 [18.9-31.3],14.9 [11.7-18.4],4.4 [2.4-7.3],24.4 [18.8-30.6],...,7.7 [3.9-13.1],4.0 [2.1-6.8],0.5 [0.1-1.3],7.4 [3.6-12.7],3.9 [1.9-6.7],0.5 [0.1-1.3],7.0 [3.3-12.4],3.7 [1.7-6.5],0.4 [0.1-1.3],6.7 [3.0-12.2]

In [100]:
dados_obesidade_sujo.shape

(198, 127)

No dataframe tem 126 colunas que são anos

In [101]:
dados_obesidade_sujo['Unnamed: 0'].isnull().value_counts()

Unnamed: 0
False    196
True       2
Name: count, dtype: int64

In [102]:
paises = list(dados_obesidade_sujo['Unnamed: 0'].dropna())
del paises[0]
paises_multiplicado = paises * 126
len(paises_multiplicado)

24570

In [103]:
paises_multiplicado.sort()
paises_multiplicado

['Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 ...]

In [104]:
dados_dict = {'Country': pd.Series(paises_multiplicado)}

In [105]:
dados = pd.DataFrame(dados_dict)
dados

           Country
0      Afghanistan
1      Afghanistan
2      Afghanistan
3      Afghanistan
4      Afghanistan
...            ...
24565     Zimbabwe
24566     Zimbabwe
24567     Zimbabwe
24568     Zimbabwe
24569     Zimbabwe

[24570 rows x 1 columns]

In [106]:
dados_limpo

       Unnamed: 0      Country  Year       Obesity (%)         Sex
0               0  Afghanistan  1975     0.5 [0.2-1.1]  Both sexes
1               1  Afghanistan  1975     0.2 [0.0-0.6]        Male
2               2  Afghanistan  1975     0.8 [0.2-2.0]      Female
3               3  Afghanistan  1976     0.5 [0.2-1.1]  Both sexes
4               4  Afghanistan  1976     0.2 [0.0-0.7]        Male
...           ...          ...   ...               ...         ...
24565       24565     Zimbabwe  2015     4.5 [2.4-7.6]        Male
24566       24566     Zimbabwe  2015  24.8 [18.9-31.3]      Female
24567       24567     Zimbabwe  2016  15.5 [12.0-19.2]  Both sexes
24568       24568     Zimbabwe  2016     4.7 [2.5-8.0]        Male
24569       24569     Zimbabwe  2016  25.3 [19.1-32.0]      Female

[24570 rows x 5 columns]

O próximo passo é transformar as colunas que são os anos em uma lista, pegando apenas os 4 primeiros números e multiplicar por 195 que é a quantidade de países.

In [116]:
lista_dos_anos = list(dados_obesidade_sujo.columns)
del lista_dos_anos[0]
lista_dos_anos = [x[0:4] for x in lista_dos_anos]
lista_dos_anos_multiplicada = lista_dos_anos * 195
lista_dos_anos_multiplicada.sort()
lista_dos_anos_multiplicada

['1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1975',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 '1976',
 ...]

In [117]:
dados_dict = {'Country': pd.Series(paises_multiplicado),
              'Year': pd.Series(lista_dos_anos_multiplicada)}

In [118]:
dados = pd.DataFrame(dados_dict)
dados

           Country  Year
0      Afghanistan  1975
1      Afghanistan  1975
2      Afghanistan  1975
3      Afghanistan  1975
4      Afghanistan  1975
...            ...   ...
24565     Zimbabwe  2016
24566     Zimbabwe  2016
24567     Zimbabwe  2016
24568     Zimbabwe  2016
24569     Zimbabwe  2016

[24570 rows x 2 columns]

Agora iremos adicionar a coluna dos sexos e para isso cada um dos sexos será repetido 8190 vezes, sendo que deve seguir a ordem Both Sexes, Male, Female

In [123]:
lista_sexos = []

for i in range(8190):
    lista_sexos.append('Both Sexes')
    lista_sexos.append('Male')
    lista_sexos.append('Female')

In [127]:
dados_dict = {'Country': pd.Series(paises_multiplicado),
              'Year': pd.Series(lista_dos_anos_multiplicada),
              'Sex': pd.Series(lista_sexos)}

In [128]:
dados = pd.DataFrame(dados_dict)
dados

           Country  Year         Sex
0      Afghanistan  1975  Both Sexes
1      Afghanistan  1975        Male
2      Afghanistan  1975      Female
3      Afghanistan  1975  Both Sexes
4      Afghanistan  1975        Male
...            ...   ...         ...
24565     Zimbabwe  2016        Male
24566     Zimbabwe  2016      Female
24567     Zimbabwe  2016  Both Sexes
24568     Zimbabwe  2016        Male
24569     Zimbabwe  2016      Female

[24570 rows x 3 columns]

In [129]:
dados_obesidade_sujo

,Unnamed: 0,2016,2016.1,2016.2,2015,2015.1,2015.2,2014,2014.1,2014.2,...,1978.2,1977,1977.1,1977.2,1976,1976.1,1976.2,1975,1975.1,1975.2
0,NaN,"Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...",...,"Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great..."
1,NaN,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,...,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years
2,Country,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female,...,Female,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female
3,Afghanistan,5.5 [3.4-8.1],3.2 [1.3-6.4],7.6 [4.3-12.4],5.2 [3.3-7.7],3.0 [1.3-6.0],7.3 [4.1-11.8],4.9 [3.1-7.3],2.8 [1.2-5.6],7.0 [4.0-11.3],...,0.9 [0.3-2.2],0.6 [0.2-1.2],0.2 [0.0-0.7],0.9 [0.3-2.1],0.5 [0.2-1.1],0.2 [0.0-0.7],0.8 [0.2-2.0],0.5 [0.2-1.1],0.2 [0.0-0.6],0.8 [0.2-2.0]
4,Albania,21.7 [17.0-26.7],21.6 [14.8-29.0],21.8 [15.3-28.9],21.1 [16.6-26.0],20.9 [14.4-28.1],21.3 [15.1-28.1],20.5 [16.2-25.1],20.2 [13.9-27.3],20.8 [14.9-27.4],...,9.1 [4.6-15.5],6.8 [4.0-10.7],4.8 [2.0-9.3],8.9 [4.3-15.4],6.7 [3.8-10.6],4.6 [1.8-9.2],8.8 [4.1-15.4],6.5 [3.6-10.5],4.4 [1.7-9.2],8.6 [3.9-15.4]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,Venezuela (Bolivarian Republic of),25.6 [21.3-30.2],22.4 [16.4-28.9],28.6 [22.5-35.2],25.2 [21.0-29.5],22.0 [16.2-28.2],28.3 [22.4-34.6],24.8 [20.8-29.0],21.5 [16.0-27.4],27.9 [22.2-34.1],...,14.4 [8.4-21.4],10.3 [6.7-14.6],6.6 [3.2-11.7],14.0 [8.0-21.3],9.9 [6.3-14.3],6.3 [2.9-11.5],13.6 [7.5-21.0],9.6 [5.9-14.1],5.9 [2.7-11.2],13.2 [7.1-20.7]
194,Viet Nam,2.1 [1.4-3.1],1.6 [0.8-2.8],2.6 [1.5-4.2],2.0 [1.3-2.9],1.5 [0.8-2.5],2.4 [1.4-3.9],1.8 [1.2-2.6],1.3 [0.7-2.3],2.3 [1.3-3.6],...,0.2 [0.1-0.6],0.2 [0.1-0.3],0.1 [0.0-0.2],0.2 [0.1-0.5],0.1 [0.1-0.3],0.1 [0.0-0.2],0.2 [0.1-0.5],0.1 [0.0-0.3],0.1 [0.0-0.2],0.2 [0.1-0.5]
195,Yemen,17.1 [13.3-21.3],12.0 [7.3-17.6],22.0 [16.0-28.4],16.5 [12.9-20.5],11.4 [7.0-16.7],21.3 [15.6-27.4],15.9 [12.4-19.6],10.8 [6.7-15.7],20.6 [15.2-26.4],...,4.8 [2.0-9.3],3.1 [1.5-5.7],1.3 [0.4-3.3],4.5 [1.9-9.2],2.9 [1.4-5.6],1.3 [0.3-3.2],4.3 [1.7-9.0],2.8 [1.3-5.4],1.2 [0.3-3.1],4.2 [1.5-8.9]
196,Zambia,8.1 [5.8-10.7],3.6 [1.7-6.5],12.4 [8.5-17.1],7.7 [5.6-10.2],3.4 [1.6-6.1],12.0 [8.2-16.4],7.4 [5.4-9.8],3.2 [1.5-5.7],11.5 [7.9-15.7],...,3.0 [1.3-5.6],1.7 [0.8-3.2],0.5 [0.1-1.5],2.9 [1.2-5.4],1.6 [0.7-3.1],0.5 [0.1-1.4],2.7 [1.1-5.3],1.5 [0.7-3.0],0.5 [0.1-1.4],2.5 [1.0-5.1]
197,Zimbabwe,15.5 [12.0-19.2],4.7 [2.5-8.0],25.3 [19.1-32.0],15.2 [11.9-18.8],4.5 [2.4-7.6],24.8 [18.9-31.3],14.9 [11.7-18.4],4.4 [2.4-7.3],24.4 [18.8-30.6],...,7.7 [3.9-13.1],4.0 [2.1-6.8],0.5 [0.1-1.3],7.4 [3.6-12.7],3.9 [1.9-6.7],0.5 [0.1-1.3],7.0 [3.3-12.4],3.7 [1.7-6.5],0.4 [0.1-1.3],6.7 [3.0-12.2]

Precisamos pegar todos os valores de cada uma das linhas e transformar em apenas uma lista

In [148]:
lista_de_percentual = []

Unnamed: 0                                                  NaN
2016          Prevalence of obesity among adults, BMI &Great...
2016.1        Prevalence of obesity among adults, BMI &Great...
2016.2        Prevalence of obesity among adults, BMI &Great...
2015          Prevalence of obesity among adults, BMI &Great...
                                    ...
1976.1        Prevalence of obesity among adults, BMI &Great...
1976.2        Prevalence of obesity among adults, BMI &Great...
1975          Prevalence of obesity among adults, BMI &Great...
1975.1        Prevalence of obesity among adults, BMI &Great...
1975.2        Prevalence of obesity among adults, BMI &Great...
Name: 0, Length: 127, dtype: object
Unnamed: 0           NaN
2016          18+  years
2016.1        18+  years
2016.2        18+  years
2015          18+  years
                 ...
1976.1        18+  years
1976.2        18+  years
1975          18+  years
1975.1        18+  years
1975.2        18+  years
Name: 1, Length: 127, dtype: object
Unnamed: 0       Country
2016          Both sexes
2016.1              Male
2016.2            Female
2015          Both sexes
                 ...
1976.1              Male
1976.2            Female
1975          Both sexes
1975.1              Male
1975.2            Female
Name: 2, Length: 127, dtype: object
Unnamed: 0       Afghanistan
2016           5.5 [3.4-8.1]
2016.1         3.2 [1.3-6.4]
2016.2        7.6 [4.3-12.4]
2015           5.2 [3.3-7.7]
                   ...
1976.1         0.2 [0.0-0.7]
1976.2         0.8 [0.2-2.0]
1975           0.5 [0.2-1.1]
1975.1         0.2 [0.0-0.6]
1975.2         0.8 [0.2-2.0]
Name: 3, Length: 127, dtype: object
Unnamed: 0             Albania
2016          21.7 [17.0-26.7]
2016.1        21.6 [14.8-29.0]
2016.2        21.8 [15.3-28.9]
2015          21.1 [16.6-26.0]
                    ...
1976.1           4.6 [1.8-9.2]
1976.2          8.8 [4.1-15.4]
1975            6.5 [3.6-10.5]
1975.1           4.4 [1.7-9.2]
1975.2          8.6 [3.9-15.4]
Name: 4, Length: 127, dtype: object
Unnamed: 0             Algeria
2016          27.4 [22.5-32.7]
2016.1        19.9 [13.6-27.1]
2016.2        34.9 [27.6-42.7]
2015          26.7 [21.9-31.8]
                    ...
1976.1           2.9 [1.1-6.1]
1976.2         11.1 [5.8-18.2]
1975            6.9 [3.9-10.9]
1975.1           2.8 [1.0-6.0]
1975.2         10.7 [5.5-18.0]
Name: 5, Length: 127, dtype: object
Unnamed: 0             Andorra
2016          25.6 [20.1-31.3]
2016.1        25.9 [18.0-34.3]
2016.2        25.3 [17.7-33.7]
2015          25.4 [20.1-31.0]
                    ...
1976.1         10.2 [5.2-16.9]
1976.2         16.4 [9.8-24.4]
1975           12.9 [8.6-18.1]
1975.1          9.7 [4.7-16.3]
1975.2         15.8 [9.2-23.9]
Name: 6, Length: 127, dtype: object
Unnamed: 0             Angola
2016           8.2 [5.1-12.2]
2016.1          4.0 [1.6-7.9]
2016.2        12.1 [6.8-19.0]
2015           7.9 [4.9-11.7]
                   ...
1976.1          0.3 [0.0-0.9]
1976.2          1.4 [0.4-3.5]
1975            0.8 [0.3-1.9]
1975.1          0.2 [0.0-0.8]
1975.2          1.4 [0.4-3.4]
Name: 7, Length: 127, dtype: object
Unnamed: 0    Antigua and Barbuda
2016             18.9 [13.8-24.6]
2016.1            11.6 [6.4-18.6]
2016.2           25.9 [17.6-35.2]
2015             18.4 [13.5-23.8]
                     ...
1976.1              2.4 [0.8-5.3]
1976.2             9.1 [4.4-15.7]
1975                5.6 [3.0-9.1]
1975.1              2.3 [0.8-5.1]
1975.2             8.8 [4.1-15.6]
Name: 8, Length: 127, dtype: object
Unnamed: 0           Argentina
2016          28.3 [23.4-33.5]
2016.1        27.3 [20.5-35.0]
2016.2        29.0 [22.5-36.0]
2015          27.8 [23.2-32.7]
                    ...
1976.1          9.3 [4.9-15.3]
1976.2         13.5 [8.1-20.2]
1975           11.2 [7.5-15.7]
1975.1          9.0 [4.6-15.2]
1975.2         13.2 [7.7-20.1]
Name: 9, Length: 127, dtype: object
Unnamed: 0             Armenia
2016          20.2 [15.7-24.8]
2016.1        17.1 [11.1-24.0]
2016.2        23.0 [16.6-29.9]
2015          19.7 [15.4-24.2]
                    ...
1976.1           4.7 [1.8-9.1]
1976.2          9.8 [5.0-16.5]
1975            7.3 [4.2-11.5]
1975.1           4.5 [1.7-8.9]
1975.2          9.5 [4.7-16.2]
Name: 10, Length: 127, dtype: object
Unnamed: 0           Australia
2016          29.0 [25.3-32.9]
2016.1        29.6 [24.2-35.3]
2016.2        28.4 [23.1-33.9]
2015          28.4 [24.9-32.1]
                    ...
1976.1         10.0 [6.6-14.0]
1976.2         11.5 [8.0-15.4]
1975           10.5 [7.9-13.4]
1975.1          9.7 [6.2-13.9]
1975.2         11.2 [7.6-15.2]
Name: 11, Length: 127, dtype: object
Unnamed: 0             Austria
2016          20.1 [15.9-24.6]
2016.1        21.9 [15.6-29.0]
2016.2        18.3 [12.9-24.4]
2015          19.7 [15.6-23.9]
                    ...
1976.1          6.5 [3.6-10.4]
1976.2          7.9 [4.8-11.8]
1975             7.2 [4.9-9.9]
1975.1          6.3 [3.4-10.4]
1975.2          7.8 [4.6-11.7]
Name: 12, Length: 127, dtype: object
Unnamed: 0          Azerbaijan
2016          19.9 [15.3-24.9]
2016.1         15.8 [9.9-22.9]
2016.2        23.6 [16.7-31.0]
2015          19.3 [14.9-24.1]
                    ...
1976.1           3.9 [1.4-8.0]
1976.2          8.7 [4.1-15.2]
1975            6.4 [3.5-10.4]
1975.1           3.7 [1.3-7.9]
1975.2          8.4 [3.9-15.1]
Name: 13, Length: 127, dtype: object
Unnamed: 0             Bahamas
2016          31.6 [25.6-37.8]
2016.1        24.4 [16.2-33.4]
2016.2        38.1 [29.0-47.3]
2015          31.0 [25.2-37.1]
                    ...
1976.1          6.0 [2.6-11.0]
1976.2        18.2 [10.7-27.0]
1975           12.0 [7.6-17.4]
1975.1          5.7 [2.3-10.7]
1975.2        17.7 [10.2-26.6]
Name: 14, Length: 127, dtype: object
Unnamed: 0             Bahrain
2016          29.8 [24.6-35.2]
2016.1        25.5 [18.3-32.7]
2016.2        36.8 [29.2-44.6]
2015          29.3 [24.2-34.5]
                    ...
1976.1          8.9 [4.5-14.8]
1976.2        22.5 [14.5-31.7]
1975           14.2 [9.8-19.4]
1975.1          8.6 [4.3-14.8]
1975.2        22.1 [14.0-31.7]
Name: 15, Length: 127, dtype: object
Unnamed: 0       Bangladesh
2016          3.6 [2.4-5.1]
2016.1        2.3 [1.1-4.0]
2016.2        5.0 [3.1-7.5]
2015          3.4 [2.3-4.7]
                  ...
1976.1        0.1 [0.0-0.3]
1976.2        0.4 [0.1-1.0]
1975          0.2 [0.1-0.5]
1975.1        0.1 [0.0-0.3]
1975.2        0.4 [0.1-0.9]
Name: 16, Length: 127, dtype: object
Unnamed: 0            Barbados
2016          23.1 [18.3-28.4]
2016.1         14.7 [9.4-21.4]
2016.2        31.3 [23.7-39.3]
2015          22.5 [17.9-27.5]
                    ...
1976.1           3.2 [1.3-6.2]
1976.2         11.9 [6.7-18.7]
1975            7.7 [4.6-11.8]
1975.1           3.0 [1.2-6.0]
1975.2         11.5 [6.3-18.5]
Name: 17, Length: 127, dtype: object
Unnamed: 0             Belarus
2016          24.5 [19.4-30.0]
2016.1        22.1 [15.1-29.5]
2016.2        26.3 [18.9-34.2]
2015          24.1 [19.2-29.4]
                    ...
1976.1           4.9 [2.0-9.7]
1976.2         14.0 [7.1-23.2]
1975            9.9 [5.6-15.4]
1975.1           4.7 [1.8-9.4]
1975.2         13.5 [6.7-22.9]
Name: 18, Length: 127, dtype: object
Unnamed: 0             Belgium
2016          22.1 [18.6-25.7]
2016.1        23.1 [18.0-28.6]
2016.2        21.0 [16.1-26.1]
2015          21.7 [18.4-25.2]
                    ...
1976.1          8.7 [5.5-12.6]
1976.2         12.5 [8.5-17.2]
1975           10.5 [7.8-13.8]
1975.1          8.4 [5.2-12.6]
1975.2         12.4 [8.2-17.2]
Name: 19, Length: 127, dtype: object
Unnamed: 0              Belize
2016          24.1 [19.0-29.8]
2016.1        16.5 [10.4-24.1]
2016.2        31.5 [23.4-40.0]
2015          23.6 [18.7-29.0]
                    ...
1976.1           4.1 [1.7-8.0]
1976.2         13.7 [7.6-21.3]
1975            8.8 [5.4-13.2]
1975.1           3.9 [1.6-8.0]
1975.2         13.4 [7.3-21.2]
Name: 20, Length: 127, dtype: object
Unnamed: 0              Benin
2016           9.6 [7.0-12.6]
2016.1          4.7 [2.4-7.9]
2016.2        14.2 [9.9-19.1]
2015           9.3 [6.8-12.0]
                   ...
1976.1          0.4 [0.1-1.0]
1976.2          1.9 [0.7-3.8]
1975            1.1 [0.4-2.2]
1975.1          0.3 [0.1-0.9]
1975.2          1.7 [0.6-3.7]
Name: 21, Length: 127, dtype: object
Unnamed: 0            Bhutan
2016           6.4 [4.3-9.0]
2016.1         4.7 [2.3-8.2]
2016.2        8.5 [5.1-12.9]
2015           6.1 [4.1-8.5]
                   ...
1976.1         0.2 [0.0-0.6]
1976.2         0.7 [0.2-1.7]
1975           0.4 [0.1-0.9]
1975.1         0.2 [0.0-0.6]
1975.2         0.6 [0.2-1.7]
Name: 22, Length: 127, dtype: object
Unnamed: 0    Bolivia (Plurinational State of)
2016                          20.2 [15.4-25.4]
2016.1                         14.5 [8.4-22.1]
2016.2                        25.6 [18.5-33.2]
2015                          19.7 [15.1-24.7]
                            ...
1976.1                           2.2 [0.7-5.2]
1976.2                          7.5 [3.3-13.5]
1975                             4.8 [2.4-8.3]
1975.1                           2.1 [0.6-5.1]
1975.2                          7.3 [3.1-13.4]
Name: 23, Length: 127, dtype: object
Unnamed: 0    Bosnia and Herzegovina
2016                17.9 [13.9-22.3]
2016.1              17.1 [11.6-23.5]
2016.2              18.4 [12.8-24.9]
2015                17.5 [13.7-21.7]
                       ...
1976.1                 4.0 [1.5-7.9]
1976.2                8.0 [3.7-14.5]
1975                   5.9 [3.2-9.8]
1975.1                 3.8 [1.4-7.8]
1975.2                7.7 [3.4-14.3]
Name: 24, Length: 127, dtype: object
Unnamed: 0            Botswana
2016          18.9 [14.6-23.5]
2016.1          8.1 [4.5-12.9]
2016.2        29.3 [22.0-37.2]
2015          18.6 [14.4-22.9]
                    ...
1976.1           0.4 [0.1-1.1]
1976.2          4.9 [1.9-10.0]
1975             2.8 [1.1-5.6]
1975.1           0.3 [0.1-1.1]
1975.2           4.6 [1.7-9.7]
Name: 25, Length: 127, dtype: object
Unnamed: 0              Brazil
2016          22.1 [18.7-25.7]
2016.1        18.5 [14.1-23.5]
2016.2        25.4 [20.4-30.7]
2015          21.6 [18.4-25.0]
                    ...
1976.1           3.2 [1.5-5.8]
1976.2          7.6 [4.3-12.2]
1975             5.2 [3.3-7.9]
1975.1           3.0 [1.4-5.7]
1975.2          7.3 [4.0-12.0]
Name: 26, Length: 127, dtype: object
Unnamed: 0    Brunei Darussalam
2016           14.1 [10.5-18.3]
2016.1          12.5 [7.8-18.3]
2016.2         15.7 [10.6-21.8]
2015           13.6 [10.2-17.5]
                    ...
1976.1            1.5 [0.4-3.3]
1976.2            4.0 [1.6-7.6]
1975              2.6 [1.2-4.5]
1975.1            1.4 [0.4-3.2]
1975.2            3.9 [1.5-7.6]
Name: 27, Length: 127, dtype: object
Unnamed: 0            Bulgaria
2016          25.0 [19.7-30.5]
2016.1        25.5 [18.2-33.3]
2016.2        24.3 [17.2-32.4]
2015          24.5 [19.4-29.8]
                    ...
1976.1          7.6 [3.5-13.7]
1976.2         13.3 [7.3-21.3]
1975           10.1 [6.3-15.0]
1975.1          7.2 [3.3-13.4]
1975.2         12.9 [6.9-21.0]
Name: 28, Length: 127, dtype: object
Unnamed: 0      Burkina Faso
2016           5.6 [3.9-7.7]
2016.1         2.6 [1.2-4.7]
2016.2        8.1 [5.2-11.8]
2015           5.3 [3.7-7.3]
                   ...
1976.1         0.2 [0.0-0.5]
1976.2         0.7 [0.2-1.8]
1975           0.4 [0.2-1.0]
1975.1         0.2 [0.0-0.5]
1975.2         0.7 [0.2-1.7]
Name: 29, Length: 127, dtype: object
Unnamed: 0           Burundi
2016           5.4 [3.5-7.9]
2016.1         2.1 [0.8-4.3]
2016.2        8.6 [5.1-13.1]
2015           5.1 [3.3-7.5]
                   ...
1976.1         0.2 [0.0-0.7]
1976.2         1.0 [0.3-2.4]
1975           0.6 [0.2-1.4]
1975.1         0.2 [0.0-0.7]
1975.2         1.0 [0.3-2.4]
Name: 30, Length: 127, dtype: object
Unnamed: 0          Cabo Verde
2016           11.8 [8.4-15.5]
2016.1          6.9 [3.6-11.3]
2016.2        16.3 [10.8-22.7]
2015           11.4 [8.2-14.9]
                    ...
1976.1           0.4 [0.1-1.1]
1976.2           1.9 [0.6-4.0]
1975             1.1 [0.4-2.3]
1975.1           0.3 [0.1-1.0]
1975.2           1.8 [0.6-3.9]
Name: 31, Length: 127, dtype: object
Unnamed: 0         Cambodia
2016          3.9 [2.5-5.6]
2016.1        2.7 [1.2-5.2]
2016.2        4.8 [2.8-7.5]
2015          3.7 [2.4-5.3]
                  ...
1976.1        0.1 [0.0-0.4]
1976.2        0.4 [0.1-1.0]
1975          0.3 [0.1-0.6]
1975.1        0.1 [0.0-0.4]
1975.2        0.4 [0.1-1.0]
Name: 32, Length: 127, dtype: object
Unnamed: 0            Cameroon
2016           11.4 [8.6-14.5]
2016.1           6.1 [3.4-9.8]
2016.2        16.4 [11.9-21.6]
2015           11.0 [8.3-13.9]
                    ...
1976.1           0.5 [0.1-1.2]
1976.2           2.3 [1.0-4.6]
1975             1.3 [0.6-2.5]
1975.1           0.4 [0.1-1.2]
1975.2           2.2 [0.8-4.4]
Name: 33, Length: 127, dtype: object
Unnamed: 0              Canada
2016          29.4 [25.7-33.3]
2016.1        29.5 [24.1-35.0]
2016.2        29.3 [24.3-34.7]
2015          28.8 [25.3-32.4]
                    ...
1976.1          9.1 [5.7-13.3]
1976.2         11.0 [7.3-15.4]
1975            9.8 [7.2-13.0]
1975.1          8.8 [5.3-13.2]
1975.2         10.8 [7.0-15.2]
Name: 34, Length: 127, dtype: object
Unnamed: 0    Central African Republic
2016                    7.5 [4.8-10.9]
2016.1                   3.7 [1.6-6.9]
2016.2                 10.9 [6.3-17.2]
2015                    7.2 [4.6-10.4]
                        ...
1976.1                   0.4 [0.1-1.2]
1976.2                   2.0 [0.7-4.6]
1975                     1.2 [0.5-2.5]
1975.1                   0.4 [0.1-1.2]
1975.2                   1.9 [0.6-4.4]
Name: 35, Length: 127, dtype: object
Unnamed: 0              Chad
2016           6.1 [4.2-8.5]
2016.1         3.1 [1.5-5.6]
2016.2        8.9 [5.7-13.0]
2015           5.8 [4.0-8.0]
                   ...
1976.1         0.3 [0.1-0.9]
1976.2         1.2 [0.4-2.7]
1975           0.7 [0.3-1.5]
1975.1         0.3 [0.1-0.8]
1975.2         1.1 [0.3-2.6]
Name: 36, Length: 127, dtype: object
Unnamed: 0               Chile
2016          28.0 [23.4-32.9]
2016.1        24.9 [18.5-31.7]
2016.2        31.0 [24.4-37.9]
2015          27.5 [23.1-32.2]
                    ...
1976.1          8.1 [4.1-13.7]
1976.2         14.6 [8.8-21.5]
1975           11.2 [7.5-15.7]
1975.1          7.8 [3.8-13.4]
1975.2         14.2 [8.4-21.3]
Name: 37, Length: 127, dtype: object
Unnamed: 0            China
2016          6.2 [4.7-7.9]
2016.1        5.9 [3.9-8.4]
2016.2        6.5 [4.5-9.1]
2015          5.9 [4.5-7.4]
                  ...
1976.1        0.2 [0.1-0.5]
1976.2        0.8 [0.4-1.5]
1975          0.5 [0.2-0.9]
1975.1        0.2 [0.1-0.5]
1975.2        0.7 [0.3-1.5]
Name: 38, Length: 127, dtype: object
Unnamed: 0            Colombia
2016          22.3 [18.5-26.5]
2016.1        17.6 [12.4-23.3]
2016.2        26.6 [21.0-32.5]
2015          21.9 [18.2-25.8]
                    ...
1976.1           3.5 [1.4-6.7]
1976.2          9.9 [5.4-16.0]
1975            6.6 [3.9-10.1]
1975.1           3.3 [1.3-6.6]
1975.2          9.6 [5.0-15.8]
Name: 39, Length: 127, dtype: object
Unnamed: 0            Comoros
2016           7.8 [5.4-10.7]
2016.1          3.3 [1.5-6.1]
2016.2        12.2 [7.9-17.4]
2015           7.5 [5.2-10.3]
                   ...
1976.1          0.4 [0.1-1.2]
1976.2          2.1 [0.7-4.5]
1975            1.2 [0.5-2.5]
1975.1          0.4 [0.1-1.2]
1975.2          2.0 [0.7-4.4]
Name: 40, Length: 127, dtype: object
Unnamed: 0              Congo
2016           9.6 [6.6-13.1]
2016.1          5.5 [2.6-9.8]
2016.2        13.5 [8.7-19.4]
2015           9.2 [6.4-12.6]
                   ...
1976.1          0.5 [0.1-1.3]
1976.2          2.6 [1.1-5.1]
1975            1.5 [0.7-2.9]
1975.1          0.5 [0.1-1.3]
1975.2          2.5 [1.0-5.0]
Name: 41, Length: 127, dtype: object
Unnamed: 0        Cook Islands
2016          55.9 [50.2-61.5]
2016.1        52.6 [44.2-60.6]
2016.2        59.2 [51.2-66.8]
2015          55.4 [49.8-61.0]
                    ...
1976.1        22.2 [13.4-32.2]
1976.2        35.1 [25.3-45.7]
1975          28.0 [21.3-35.5]
1975.1        21.6 [12.7-32.0]
1975.2        34.5 [24.5-45.3]
Name: 42, Length: 127, dtype: object
Unnamed: 0          Costa Rica
2016          25.7 [21.2-30.6]
2016.1        21.1 [14.9-27.8]
2016.2        30.4 [23.8-37.4]
2015          25.0 [20.7-29.7]
                    ...
1976.1           3.0 [1.1-6.2]
1976.2          8.0 [3.9-13.8]
1975             5.2 [2.9-8.3]
1975.1           2.8 [1.0-6.0]
1975.2          7.7 [3.6-13.5]
Name: 43, Length: 127, dtype: object
Unnamed: 0       Côte d'Ivoire
2016           10.3 [7.6-13.4]
2016.1           5.8 [3.1-9.7]
2016.2        15.2 [10.5-20.6]
2015            9.8 [7.3-12.8]
                    ...
1976.1           0.5 [0.1-1.4]
1976.2           2.6 [1.1-5.2]
1975             1.4 [0.6-2.7]
1975.1           0.5 [0.1-1.4]
1975.2           2.5 [1.0-5.0]
Name: 44, Length: 127, dtype: object
Unnamed: 0             Croatia
2016          24.4 [20.1-29.0]
2016.1        24.1 [17.9-31.0]
2016.2        24.5 [18.4-31.2]
2015          23.9 [19.8-28.3]
                    ...
1976.1          6.5 [3.1-11.9]
1976.2         11.9 [6.5-19.2]
1975            9.2 [5.7-13.8]
1975.1          6.2 [2.8-11.5]
1975.2         11.5 [6.1-19.1]
Name: 45, Length: 127, dtype: object
Unnamed: 0                Cuba
2016          24.6 [20.1-29.4]
2016.1        18.9 [13.0-25.3]
2016.2        30.3 [23.5-37.7]
2015          24.1 [19.8-28.7]
                    ...
1976.1           3.7 [1.6-6.8]
1976.2         12.5 [7.2-19.1]
1975            7.8 [4.8-11.5]
1975.1           3.5 [1.4-6.6]
1975.2         12.1 [6.8-18.9]
Name: 46, Length: 127, dtype: object
Unnamed: 0              Cyprus
2016          21.8 [16.7-27.4]
2016.1        21.9 [14.6-30.0]
2016.2        21.6 [15.0-29.1]
2015          21.4 [16.6-26.8]
                    ...
1976.1           4.4 [1.8-8.5]
1976.2          7.3 [3.5-12.4]
1975             5.5 [3.1-8.9]
1975.1           4.1 [1.6-8.2]
1975.2          6.9 [3.1-12.1]
Name: 47, Length: 127, dtype: object
Unnamed: 0             Czechia
2016          26.0 [21.3-31.1]
2016.1        26.4 [19.6-33.7]
2016.2        25.4 [18.8-32.5]
2015          25.6 [21.1-30.5]
                    ...
1976.1         10.4 [5.9-16.6]
1976.2        17.5 [11.1-25.1]
1975           13.8 [9.5-18.9]
1975.1         10.0 [5.5-16.3]
1975.2        17.1 [10.6-24.9]
Name: 48, Length: 127, dtype: object
Unnamed: 0    Democratic People's Republic of Korea
2016                                 6.8 [4.0-10.1]
2016.1                               6.1 [2.9-10.8]
2016.2                               7.3 [3.6-12.2]
2015                                  6.5 [3.9-9.8]
                              ...
1976.1                                0.9 [0.2-2.2]
1976.2                                2.5 [0.9-5.4]
1975                                  1.8 [0.8-3.5]
1975.1                                0.8 [0.2-2.1]
1975.2                                2.4 [0.8-5.3]
Name: 49, Length: 127, dtype: object
Unnamed: 0    Democratic Republic of the Congo
2016                             6.7 [4.4-9.7]
2016.1                           3.6 [1.5-6.8]
2016.2                          9.7 [5.9-14.5]
2015                             6.4 [4.2-9.2]
                            ...
1976.1                           0.3 [0.1-0.9]
1976.2                           1.4 [0.5-3.2]
1975                             0.9 [0.3-1.9]
1975.1                           0.3 [0.1-0.9]
1975.2                           1.4 [0.4-3.2]
Name: 50, Length: 127, dtype: object
Unnamed: 0             Denmark
2016          19.7 [16.2-23.3]
2016.1        22.3 [17.5-27.5]
2016.2        17.0 [12.2-22.1]
2015          19.3 [16.1-22.7]
                    ...
1976.1           6.5 [4.1-9.6]
1976.2          8.1 [5.0-12.2]
1975             7.2 [5.1-9.7]
1975.1           6.3 [3.9-9.3]
1975.2          7.9 [4.8-12.1]

In [143]:
lista_de_percentual

[Unnamed: 0                                                  NaN
 2016          Prevalence of obesity among adults, BMI &Great...
 2016.1        Prevalence of obesity among adults, BMI &Great...
 2016.2        Prevalence of obesity among adults, BMI &Great...
 2015          Prevalence of obesity among adults, BMI &Great...
                                     ...
 1976.1        Prevalence of obesity among adults, BMI &Great...
 1976.2        Prevalence of obesity among adults, BMI &Great...
 1975          Prevalence of obesity among adults, BMI &Great...
 1975.1        Prevalence of obesity among adults, BMI &Great...
 1975.2        Prevalence of obesity among adults, BMI &Great...
 Name: 0, Length: 127, dtype: object,
 Unnamed: 0           NaN
 2016          18+  years
 2016.1        18+  years
 2016.2        18+  years
 2015          18+  years
                  ...
 1976.1        18+  years
 1976.2        18+  years
 1975          18+  years
 1975.1        18+  years
 1975.2        18+  years
 Name: 1, Length: 127, dtype: object,
 Unnamed: 0       Country
 2016          Both sexes
 2016.1              Male
 2016.2            Female
 2015          Both sexes
                  ...
 1976.1              Male
 1976.2            Female
 1975          Both sexes
 1975.1              Male
 1975.2            Female
 Name: 2, Length: 127, dtype: object,
 Unnamed: 0       Afghanistan
 2016           5.5 [3.4-8.1]
 2016.1         3.2 [1.3-6.4]
 2016.2        7.6 [4.3-12.4]
 2015           5.2 [3.3-7.7]
                    ...
 1976.1         0.2 [0.0-0.7]
 1976.2         0.8 [0.2-2.0]
 1975           0.5 [0.2-1.1]
 1975.1         0.2 [0.0-0.6]
 1975.2         0.8 [0.2-2.0]
 Name: 3, Length: 127, dtype: object,
 Unnamed: 0             Albania
 2016          21.7 [17.0-26.7]
 2016.1        21.6 [14.8-29.0]
 2016.2        21.8 [15.3-28.9]
 2015          21.1 [16.6-26.0]
                     ...
 1976.1           4.6 [1.8-9.2]
 1976.2          8.8 [4.1-15.4]
 1975            6.5 [3.6-10.5]
 1975.1           4.4 [1.7-9.2]
 1975.2          8.6 [3.9-15.4]
 Name: 4, Length: 127, dtype: object,
 Unnamed: 0             Algeria
 2016          27.4 [22.5-32.7]
 2016.1        19.9 [13.6-27.1]
 2016.2        34.9 [27.6-42.7]
 2015          26.7 [21.9-31.8]
                     ...
 1976.1           2.9 [1.1-6.1]
 1976.2         11.1 [5.8-18.2]
 1975            6.9 [3.9-10.9]
 1975.1           2.8 [1.0-6.0]
 1975.2         10.7 [5.5-18.0]
 Name: 5, Length: 127, dtype: object,
 Unnamed: 0             Andorra
 2016          25.6 [20.1-31.3]
 2016.1        25.9 [18.0-34.3]
 2016.2        25.3 [17.7-33.7]
 2015          25.4 [20.1-31.0]
                     ...
 1976.1         10.2 [5.2-16.9]
 1976.2         16.4 [9.8-24.4]
 1975           12.9 [8.6-18.1]
 1975.1          9.7 [4.7-16.3]
 1975.2         15.8 [9.2-23.9]
 Name: 6, Length: 127, dtype: object,
 Unnamed: 0             Angola
 2016           8.2 [5.1-12.2]
 2016.1          4.0 [1.6-7.9]
 2016.2        12.1 [6.8-19.0]
 2015           7.9 [4.9-11.7]
                    ...
 1976.1          0.3 [0.0-0.9]
 1976.2          1.4 [0.4-3.5]
 1975            0.8 [0.3-1.9]
 1975.1          0.2 [0.0-0.8]
 1975.2          1.4 [0.4-3.4]
 Name: 7, Length: 127, dtype: object,
 Unnamed: 0    Antigua and Barbuda
 2016             18.9 [13.8-24.6]
 2016.1            11.6 [6.4-18.6]
 2016.2           25.9 [17.6-35.2]
 2015             18.4 [13.5-23.8]
                      ...
 1976.1              2.4 [0.8-5.3]
 1976.2             9.1 [4.4-15.7]
 1975                5.6 [3.0-9.1]
 1975.1              2.3 [0.8-5.1]
 1975.2             8.8 [4.1-15.6]
 Name: 8, Length: 127, dtype: object,
 Unnamed: 0           Argentina
 2016          28.3 [23.4-33.5]
 2016.1        27.3 [20.5-35.0]
 2016.2        29.0 [22.5-36.0]
 2015          27.8 [23.2-32.7]
                     ...
 1976.1          9.3 [4.9-15.3]
 1976.2         13.5 [8.1-20.2]
 1975           11.2 [7.5-15.7]
 1975.1          9.0 [4.6-15.2]
 1975.2         13.2 [7.7-20.1]
 Name: 9, Length: 127, dtype: object,
 Unnamed: 0             Armenia
 2016          20.2 [15.7-24.8]
 2016.1        17.1 [11.1-24.0]
 2016.2        23.0 [16.6-29.9]
 2015          19.7 [15.4-24.2]
                     ...
 1976.1           4.7 [1.8-9.1]
 1976.2          9.8 [5.0-16.5]
 1975            7.3 [4.2-11.5]
 1975.1           4.5 [1.7-8.9]
 1975.2          9.5 [4.7-16.2]
 Name: 10, Length: 127, dtype: object,
 Unnamed: 0           Australia
 2016          29.0 [25.3-32.9]
 2016.1        29.6 [24.2-35.3]
 2016.2        28.4 [23.1-33.9]
 2015          28.4 [24.9-32.1]
                     ...
 1976.1         10.0 [6.6-14.0]
 1976.2         11.5 [8.0-15.4]
 1975           10.5 [7.9-13.4]
 1975.1          9.7 [6.2-13.9]
 1975.2         11.2 [7.6-15.2]
 Name: 11, Length: 127, dtype: object,
 Unnamed: 0             Austria
 2016          20.1 [15.9-24.6]
 2016.1        21.9 [15.6-29.0]
 2016.2        18.3 [12.9-24.4]
 2015          19.7 [15.6-23.9]
                     ...
 1976.1          6.5 [3.6-10.4]
 1976.2          7.9 [4.8-11.8]
 1975             7.2 [4.9-9.9]
 1975.1          6.3 [3.4-10.4]
 1975.2          7.8 [4.6-11.7]
 Name: 12, Length: 127, dtype: object,
 Unnamed: 0          Azerbaijan
 2016          19.9 [15.3-24.9]
 2016.1         15.8 [9.9-22.9]
 2016.2        23.6 [16.7-31.0]
 2015          19.3 [14.9-24.1]
                     ...
 1976.1           3.9 [1.4-8.0]
 1976.2          8.7 [4.1-15.2]
 1975            6.4 [3.5-10.4]
 1975.1           3.7 [1.3-7.9]
 1975.2          8.4 [3.9-15.1]
 Name: 13, Length: 127, dtype: object,
 Unnamed: 0             Bahamas
 2016          31.6 [25.6-37.8]
 2016.1        24.4 [16.2-33.4]
 2016.2        38.1 [29.0-47.3]
 2015          31.0 [25.2-37.1]
                     ...
 1976.1          6.0 [2.6-11.0]
 1976.2        18.2 [10.7-27.0]
 1975           12.0 [7.6-17.4]
 1975.1          5.7 [2.3-10.7]
 1975.2        17.7 [10.2-26.6]
 Name: 14, Length: 127, dtype: object,
 Unnamed: 0             Bahrain
 2016          29.8 [24.6-35.2]
 2016.1        25.5 [18.3-32.7]
 2016.2        36.8 [29.2-44.6]
 2015          29.3 [24.2-34.5]
                     ...
 1976.1          8.9 [4.5-14.8]
 1976.2        22.5 [14.5-31.7]
 1975           14.2 [9.8-19.4]
 1975.1          8.6 [4.3-14.8]
 1975.2        22.1 [14.0-31.7]
 Name: 15, Length: 127, dtype: object,
 Unnamed: 0       Bangladesh
 2016          3.6 [2.4-5.1]
 2016.1        2.3 [1.1-4.0]
 2016.2        5.0 [3.1-7.5]
 2015          3.4 [2.3-4.7]
                   ...
 1976.1        0.1 [0.0-0.3]
 1976.2        0.4 [0.1-1.0]
 1975          0.2 [0.1-0.5]
 1975.1        0.1 [0.0-0.3]
 1975.2        0.4 [0.1-0.9]
 Name: 16, Length: 127, dtype: object,
 Unnamed: 0            Barbados
 2016          23.1 [18.3-28.4]
 2016.1         14.7 [9.4-21.4]
 2016.2        31.3 [23.7-39.3]
 2015          22.5 [17.9-27.5]
                     ...
 1976.1           3.2 [1.3-6.2]
 1976.2         11.9 [6.7-18.7]
 1975            7.7 [4.6-11.8]
 1975.1           3.0 [1.2-6.0]
 1975.2         11.5 [6.3-18.5]
 Name: 17, Length: 127, dtype: object,
 Unnamed: 0             Belarus
 2016          24.5 [19.4-30.0]
 2016.1        22.1 [15.1-29.5]
 2016.2        26.3 [18.9-34.2]
 2015          24.1 [19.2-29.4]
                     ...
 1976.1           4.9 [2.0-9.7]
 1976.2         14.0 [7.1-23.2]
 1975            9.9 [5.6-15.4]
 1975.1           4.7 [1.8-9.4]
 1975.2         13.5 [6.7-22.9]
 Name: 18, Length: 127, dtype: object,
 Unnamed: 0             Belgium
 2016          22.1 [18.6-25.7]
 2016.1        23.1 [18.0-28.6]
 2016.2        21.0 [16.1-26.1]
 2015          21.7 [18.4-25.2]
                     ...
 1976.1          8.7 [5.5-12.6]
 1976.2         12.5 [8.5-17.2]
 1975           10.5 [7.8-13.8]
 1975.1          8.4 [5.2-12.6]
 1975.2         12.4 [8.2-17.2]
 Name: 19, Length: 127, dtype: object,
 Unnamed: 0              Belize
 2016          24.1 [19.0-29.8]
 2016.1        16.5 [10.4-24.1]
 2016.2        31.5 [23.4-40.0]
 2015          23.6 [18.7-29.0]
                     ...
 1976.1           4.1 [1.7-8.0]
 1976.2         13.7 [7.6-21.3]
 1975            8.8 [5.4-13.2]
 1975.1           3.9 [1.6-8.0]
 1975.2         13.4 [7.3-21.2]
 Name: 20, Length: 127, dtype: object,
 Unnamed: 0              Benin
 2016           9.6 [7.0-12.6]
 2016.1          4.7 [2.4-7.9]
 2016.2        14.2 [9.9-19.1]
 2015           9.3 [6.8-12.0]
                    ...
 1976.1          0.4 [0.1-1.0]
 1976.2          1.9 [0.7-3.8]
 1975            1.1 [0.4-2.2]
 1975.1          0.3 [0.1-0.9]
 1975.2          1.7 [0.6-3.7]
 Name: 21, Length: 127, dtype: object,
 Unnamed: 0            Bhutan
 2016           6.4 [4.3-9.0]
 2016.1         4.7 [2.3-8.2]
 2016.2        8.5 [5.1-12.9]
 2015           6.1 [4.1-8.5]
                    ...
 1976.1         0.2 [0.0-0.6]
 1976.2         0.7 [0.2-1.7]
 1975           0.4 [0.1-0.9]
 1975.1         0.2 [0.0-0.6]
 1975.2         0.6 [0.2-1.7]
 Name: 22, Length: 127, dtype: object,
 Unnamed: 0    Bolivia (Plurinational State of)
 2016                          20.2 [15.4-25.4]
 2016.1                         14.5 [8.4-22.1]
 2016.2                        25.6 [18.5-33.2]
 2015                          19.7 [15.1-24.7]
                             ...
 1976.1                           2.2 [0.7-5.2]
 1976.2                          7.5 [3.3-13.5]
 1975                             4.8 [2.4-8.3]
 1975.1                           2.1 [0.6-5.1]
 1975.2                          7.3 [3.1-13.4]
 Name: 23, Length: 127, dtype: object,
 Unnamed: 0    Bosnia and Herzegovina
 2016                17.9 [13.9-22.3]
 2016.1              17.1 [11.6-23.5]
 2016.2              18.4 [12.8-24.9]
 2015                17.5 [13.7-21.7]
                        ...
 1976.1                 4.0 [1.5-7.9]
 1976.2                8.0 [3.7-14.5]
 1975                   5.9 [3.2-9.8]
 1975.1                 3.8 [1.4-7.8]
 1975.2                7.7 [3.4-14.3]
 Name: 24, Length: 127, dtype: object,
 Unnamed: 0            Botswana
 2016          18.9 [14.6-23.5]
 2016.1          8.1 [4.5-12.9]
 2016.2        29.3 [22.0-37.2]
 2015          18.6 [14.4-22.9]
                     ...
 1976.1           0.4 [0.1-1.1]
 1976.2          4.9 [1.9-10.0]
 1975             2.8 [1.1-5.6]
 1975.1           0.3 [0.1-1.1]
 1975.2           4.6 [1.7-9.7]
 Name: 25, Length: 127, dtype: object,
 Unnamed: 0              Brazil
 2016          22.1 [18.7-25.7]
 2016.1        18.5 [14.1-23.5]
 2016.2        25.4 [20.4-30.7]
 2015          21.6 [18.4-25.0]
                     ...
 1976.1           3.2 [1.5-5.8]
 1976.2          7.6 [4.3-12.2]
 1975             5.2 [3.3-7.9]
 1975.1           3.0 [1.4-5.7]
 1975.2          7.3 [4.0-12.0]
 Name: 26, Length: 127, dtype: object,
 Unnamed: 0    Brunei Darussalam
 2016           14.1 [10.5-18.3]
 2016.1          12.5 [7.8-18.3]
 2016.2         15.7 [10.6-21.8]
 2015           13.6 [10.2-17.5]
                     ...
 1976.1            1.5 [0.4-3.3]
 1976.2            4.0 [1.6-7.6]
 1975              2.6 [1.2-4.5]
 1975.1            1.4 [0.4-3.2]
 1975.2            3.9 [1.5-7.6]
 Name: 27, Length: 127, dtype: object,
 Unnamed: 0            Bulgaria
 2016          25.0 [19.7-30.5]
 2016.1        25.5 [18.2-33.3]
 2016.2        24.3 [17.2-32.4]
 2015          24.5 [19.4-29.8]
                     ...
 1976.1          7.6 [3.5-13.7]
 1976.2         13.3 [7.3-21.3]
 1975           10.1 [6.3-15.0]
 1975.1          7.2 [3.3-13.4]
 1975.2         12.9 [6.9-21.0]
 Name: 28, Length: 127, dtype: object,
 Unnamed: 0      Burkina Faso
 2016           5.6 [3.9-7.7]
 2016.1         2.6 [1.2-4.7]
 2016.2        8.1 [5.2-11.8]
 2015           5.3 [3.7-7.3]
                    ...
 1976.1         0.2 [0.0-0.5]
 1976.2         0.7 [0.2-1.8]
 1975           0.4 [0.2-1.0]
 1975.1         0.2 [0.0-0.5]
 1975.2         0.7 [0.2-1.7]
 Name: 29, Length: 127, dtype: object,
 Unnamed: 0           Burundi
 2016           5.4 [3.5-7.9]
 2016.1         2.1 [0.8-4.3]
 2016.2        8.6 [5.1-13.1]
 2015           5.1 [3.3-7.5]
                    ...
 1976.1         0.2 [0.0-0.7]
 1976.2         1.0 [0.3-2.4]
 1975           0.6 [0.2-1.4]
 1975.1         0.2 [0.0-0.7]
 1975.2         1.0 [0.3-2.4]
 Name: 30, Length: 127, dtype: object,
 Unnamed: 0          Cabo Verde
 2016           11.8 [8.4-15.5]
 2016.1          6.9 [3.6-11.3]
 2016.2        16.3 [10.8-22.7]
 2015           11.4 [8.2-14.9]
                     ...
 1976.1           0.4 [0.1-1.1]
 1976.2           1.9 [0.6-4.0]
 1975             1.1 [0.4-2.3]
 1975.1           0.3 [0.1-1.0]
 1975.2           1.8 [0.6-3.9]
 Name: 31, Length: 127, dtype: object,
 Unnamed: 0         Cambodia
 2016          3.9 [2.5-5.6]
 2016.1        2.7 [1.2-5.2]
 2016.2        4.8 [2.8-7.5]
 2015          3.7 [2.4-5.3]
                   ...
 1976.1        0.1 [0.0-0.4]
 1976.2        0.4 [0.1-1.0]
 1975          0.3 [0.1-0.6]
 1975.1        0.1 [0.0-0.4]
 1975.2        0.4 [0.1-1.0]
 Name: 32, Length: 127, dtype: object,
 Unnamed: 0            Cameroon
 2016           11.4 [8.6-14.5]
 2016.1           6.1 [3.4-9.8]
 2016.2        16.4 [11.9-21.6]
 2015           11.0 [8.3-13.9]
                     ...
 1976.1           0.5 [0.1-1.2]
 1976.2           2.3 [1.0-4.6]
 1975             1.3 [0.6-2.5]
 1975.1           0.4 [0.1-1.2]
 1975.2           2.2 [0.8-4.4]
 Name: 33, Length: 127, dtype: object,
 Unnamed: 0              Canada
 2016          29.4 [25.7-33.3]
 2016.1        29.5 [24.1-35.0]
 2016.2        29.3 [24.3-34.7]
 2015          28.8 [25.3-32.4]
                     ...
 1976.1          9.1 [5.7-13.3]
 1976.2         11.0 [7.3-15.4]
 1975            9.8 [7.2-13.0]
 1975.1          8.8 [5.3-13.2]
 1975.2         10.8 [7.0-15.2]
 Name: 34, Length: 127, dtype: object,
 Unnamed: 0    Central African Republic
 2016                    7.5 [4.8-10.9]
 2016.1                   3.7 [1.6-6.9]
 2016.2                 10.9 [6.3-17.2]
 2015                    7.2 [4.6-10.4]
                         ...
 1976.1                   0.4 [0.1-1.2]
 1976.2                   2.0 [0.7-4.6]
 1975                     1.2 [0.5-2.5]
 1975.1                   0.4 [0.1-1.2]
 1975.2                   1.9 [0.6-4.4]
 Name: 35, Length: 127, dtype: object,
 Unnamed: 0              Chad
 2016           6.1 [4.2-8.5]
 2016.1         3.1 [1.5-5.6]
 2016.2        8.9 [5.7-13.0]
 2015           5.8 [4.0-8.0]
                    ...
 1976.1         0.3 [0.1-0.9]
 1976.2         1.2 [0.4-2.7]
 1975           0.7 [0.3-1.5]
 1975.1         0.3 [0.1-0.8]
 1975.2         1.1 [0.3-2.6]
 Name: 36, Length: 127, dtype: object,
 Unnamed: 0               Chile
 2016          28.0 [23.4-32.9]
 2016.1        24.9 [18.5-31.7]
 2016.2        31.0 [24.4-37.9]
 2015          27.5 [23.1-32.2]
                     ...
 1976.1          8.1 [4.1-13.7]
 1976.2         14.6 [8.8-21.5]
 1975           11.2 [7.5-15.7]
 1975.1          7.8 [3.8-13.4]
 1975.2         14.2 [8.4-21.3]
 Name: 37, Length: 127, dtype: object,
 Unnamed: 0            China
 2016          6.2 [4.7-7.9]
 2016.1        5.9 [3.9-8.4]
 2016.2        6.5 [4.5-9.1]
 2015          5.9 [4.5-7.4]
                   ...
 1976.1        0.2 [0.1-0.5]
 1976.2        0.8 [0.4-1.5]
 1975          0.5 [0.2-0.9]
 1975.1        0.2 [0.1-0.5]
 1975.2        0.7 [0.3-1.5]
 Name: 38, Length: 127, dtype: object,
 Unnamed: 0            Colombia
 2016          22.3 [18.5-26.5]
 2016.1        17.6 [12.4-23.3]
 2016.2        26.6 [21.0-32.5]
 2015          21.9 [18.2-25.8]
                     ...
 1976.1           3.5 [1.4-6.7]
 1976.2          9.9 [5.4-16.0]
 1975            6.6 [3.9-10.1]
 1975.1           3.3 [1.3-6.6]
 1975.2          9.6 [5.0-15.8]
 Name: 39, Length: 127, dtype: object,
 Unnamed: 0            Comoros
 2016           7.8 [5.4-10.7]
 2016.1          3.3 [1.5-6.1]
 2016.2        12.2 [7.9-17.4]
 2015           7.5 [5.2-10.3]
                    ...
 1976.1          0.4 [0.1-1.2]
 1976.2          2.1 [0.7-4.5]
 1975            1.2 [0.5-2.5]
 1975.1          0.4 [0.1-1.2]
 1975.2          2.0 [0.7-4.4]
 Name: 40, Length: 127, dtype: object,
 Unnamed: 0              Congo
 2016           9.6 [6.6-13.1]
 2016.1          5.5 [2.6-9.8]
 2016.2        13.5 [8.7-19.4]
 2015           9.2 [6.4-12.6]
                    ...
 1976.1          0.5 [0.1-1.3]
 1976.2          2.6 [1.1-5.1]
 1975            1.5 [0.7-2.9]
 1975.1          0.5 [0.1-1.3]
 1975.2          2.5 [1.0-5.0]
 Name: 41, Length: 127, dtype: object,
 Unnamed: 0        Cook Islands
 2016          55.9 [50.2-61.5]
 2016.1        52.6 [44.2-60.6]
 2016.2        59.2 [51.2-66.8]
 2015          55.4 [49.8-61.0]
                     ...
 1976.1        22.2 [13.4-32.2]
 1976.2        35.1 [25.3-45.7]
 1975          28.0 [21.3-35.5]
 1975.1        21.6 [12.7-32.0]
 1975.2        34.5 [24.5-45.3]
 Name: 42, Length: 127, dtype: object,
 Unnamed: 0          Costa Rica
 2016          25.7 [21.2-30.6]
 2016.1        21.1 [14.9-27.8]
 2016.2        30.4 [23.8-37.4]
 2015          25.0 [20.7-29.7]
                     ...
 1976.1           3.0 [1.1-6.2]
 1976.2          8.0 [3.9-13.8]
 1975             5.2 [2.9-8.3]
 1975.1           2.8 [1.0-6.0]
 1975.2          7.7 [3.6-13.5]
 Name: 43, Length: 127, dtype: object,
 Unnamed: 0       Côte d'Ivoire
 2016           10.3 [7.6-13.4]
 2016.1           5.8 [3.1-9.7]
 2016.2        15.2 [10.5-20.6]
 2015            9.8 [7.3-12.8]
                     ...
 1976.1           0.5 [0.1-1.4]
 1976.2           2.6 [1.1-5.2]
 1975             1.4 [0.6-2.7]
 1975.1           0.5 [0.1-1.4]
 1975.2           2.5 [1.0-5.0]
 Name: 44, Length: 127, dtype: object,
 Unnamed: 0             Croatia
 2016          24.4 [20.1-29.0]
 2016.1        24.1 [17.9-31.0]
 2016.2        24.5 [18.4-31.2]
 2015          23.9 [19.8-28.3]
                     ...
 1976.1          6.5 [3.1-11.9]
 1976.2         11.9 [6.5-19.2]
 1975            9.2 [5.7-13.8]
 1975.1          6.2 [2.8-11.5]
 1975.2         11.5 [6.1-19.1]
 Name: 45, Length: 127, dtype: object,
 Unnamed: 0                Cuba
 2016          24.6 [20.1-29.4]
 2016.1        18.9 [13.0-25.3]
 2016.2        30.3 [23.5-37.7]
 2015          24.1 [19.8-28.7]
                     ...
 1976.1           3.7 [1.6-6.8]
 1976.2         12.5 [7.2-19.1]
 1975            7.8 [4.8-11.5]
 1975.1           3.5 [1.4-6.6]
 1975.2         12.1 [6.8-18.9]
 Name: 46, Length: 127, dtype: object,
 Unnamed: 0              Cyprus
 2016          21.8 [16.7-27.4]
 2016.1        21.9 [14.6-30.0]
 2016.2        21.6 [15.0-29.1]
 2015          21.4 [16.6-26.8]
                     ...
 1976.1           4.4 [1.8-8.5]
 1976.2          7.3 [3.5-12.4]
 1975             5.5 [3.1-8.9]
 1975.1           4.1 [1.6-8.2]
 1975.2          6.9 [3.1-12.1]
 Name: 47, Length: 127, dtype: object,
 Unnamed: 0             Czechia
 2016          26.0 [21.3-31.1]
 2016.1        26.4 [19.6-33.7]
 2016.2        25.4 [18.8-32.5]
 2015          25.6 [21.1-30.5]
                     ...
 1976.1         10.4 [5.9-16.6]
 1976.2        17.5 [11.1-25.1]
 1975           13.8 [9.5-18.9]
 1975.1         10.0 [5.5-16.3]
 1975.2        17.1 [10.6-24.9]
 Name: 48, Length: 127, dtype: object,
 Unnamed: 0    Democratic People's Republic of Korea
 2016                                 6.8 [4.0-10.1]
 2016.1                               6.1 [2.9-10.8]
 2016.2                               7.3 [3.6-12.2]
 2015                                  6.5 [3.9-9.8]
                               ...
 1976.1                                0.9 [0.2-2.2]
 1976.2                                2.5 [0.9-5.4]
 1975                                  1.8 [0.8-3.5]
 1975.1                                0.8 [0.2-2.1]
 1975.2                                2.4 [0.8-5.3]
 Name: 49, Length: 127, dtype: object,
 Unnamed: 0    Democratic Republic of the Congo
 2016                             6.7 [4.4-9.7]
 2016.1                           3.6 [1.5-6.8]
 2016.2                          9.7 [5.9-14.5]
 2015                             6.4 [4.2-9.2]