# Análise Exploratória dos Dados

In [18]:
import pandas as pd
from pathlib import Path
import seaborn as sns
import matplotlib.pyplot as plt 
import numpy as np

In [19]:
caminho_arquivo = Path(r'C:\Users\alexa\OneDrive\Área de Trabalho\projeto_a3\dados_tratados\obesity_cleaned2.csv')

In [22]:
dados = pd.read_csv(caminho_arquivo)
del dados['Unnamed: 0']
dados

           Country  Year     Obesity (%)         Sex Region
0      Afghanistan  2016   5.5 [3.4-8.1]  Both Sexes  Other
1      Afghanistan  2016   3.2 [1.3-6.4]        Male  Other
2      Afghanistan  2016  7.6 [4.3-12.4]      Female  Other
3      Afghanistan  2015   5.2 [3.3-7.7]  Both Sexes  Other
4      Afghanistan  2015   3.0 [1.3-6.0]        Male  Other
...            ...   ...             ...         ...    ...
24565     Zimbabwe  1976   0.5 [0.1-1.3]        Male  Other
24566     Zimbabwe  1976  7.0 [3.3-12.4]      Female  Other
24567     Zimbabwe  1975   3.7 [1.7-6.5]  Both Sexes  Other
24568     Zimbabwe  1975   0.4 [0.1-1.3]        Male  Other
24569     Zimbabwe  1975  6.7 [3.0-12.2]      Female  Other

[24570 rows x 5 columns]

##### Os dados entre homens e mulheres são parecidos? Informe com números.

In [24]:
dados.dtypes

Country        object
Year            int64
Obesity (%)    object
Sex            object
Region         object
dtype: object

In [34]:
dados['Obesity_mean'] = dados['Obesity (%)'].str.split('[').str[0]

In [41]:
dados['Obesity_mean'] = pd.to_numeric(dados['Obesity_mean'])

ValueError: Unable to parse string "No data" at position 14112